.vx-card-header * {
  font-weight: bold;
  font-size: medium;
}

.vx-card-body {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.vx-card-delimiter {
  border: 1px solid #c8c9cc;
  margin-bottom: 10px !important;
}

.slider-age-range {
  padding-top: 10px;

  .el-slider {
    width: 70%;
  }

  .el-text {
    padding-left: 20px;
  }
}

.el-card__header {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.search-keyword-text {
  background-color: yellow;
  font-weight: bold;
  color: black;
}

.badge-class-match {
  height: 14px !important;
  width: 14px !important;
  background-color: yellow !important;
  border-color: black !important;
}

.keyword-position {
  top: 150px;
  right: 50px;
  width: 400px;
  position: fixed;
  color: var(--el-color-white);
  border: none;
  border-bottom: none !important;
  border-top: none !important;
}

.chat-used-position {
  bottom: 150px;
  right: 70px;
  position: fixed;
  color: red;
}

.el-collapse-item__header {
  height: 30px !important;
  width: 28% !important;
  white-space: nowrap;
}

.el-collapse-item__header.is-active {
  width: 100% !important;
}

.el-collapse-item__title {
  white-space: nowrap;
}

.el-collapse-item__content {
  padding-bottom: 5px !important;
}

.el-notification {
  width: auto !important;
}

.el-collapse-icon-position-right .el-collapse-item__header {
  background-color: #409eff66 !important;
  border-radius: 10px 10px 0px 0px;
  min-height: 25px;
}

.el-collapse-item__wrap {
  background-color: #409eff66 !important;
  border-radius: 0px 0px 10px 10px;
}

.el-collapse-item__title {
  font-size: larger;
  font-weight: 900;
}

.highlighting-text {
  font-size: 14px;
  font-style: italic;
  background: linear-gradient(90deg, #ff8a00, #e52e71, #5c2b90, #2a8ece);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.highlighting-col {
  display: flex;
  align-items: center;
}

.follow-button {
  display: flex !important;
  align-items: center;
  justify-content: right;
}
